.dvinfo{
 margin-left:250px; 
}

.author_pic{
 border:thin solid white;
 float:left;
}

.ptext{margin-left:15px;}



.paperlist{
 list-style-type:none;padding-left:15px; 
}

.paperlist li{
  
 border-bottom:thin inset grey; min-height:125x;
 width:100%;
 margin: 0 auto;
 padding-top:20px;
 
}

.paperlist img{
 max-width:200px; 
 max-height:150px;
 float:left;
}


.post_tag{
  min-height:75px;
  padding:15px;
  
}

.xtime{
float:right; 
}


img{
    max-width:800px;
}
 
.float_left{
 float: left; 
}

.float_right{
 float:right;
 padding:7px;
  
}

.well{
 padding:5px; 
}

code,pre{
 font-size:14px; 
}

article {
border-bottom:thin inset grey; 
  
}